/* Resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
}

/* Navbar */
.navbar {
  background-color: #343a40;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover {
  color: #3498db;
}

/* Header */
.bg-image-full {
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.header-content p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
}

/* Secciones */
section {
  padding: 5rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.text-primary {
  color: #3498db;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
